<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onenote">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/micon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/micon"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneNote">

        <activity android:name=".IntroActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Auth.RegisterActivity" />
        <activity android:name=".Auth.LoginActivity" />

        <activity
            android:name=".EditNoteActivity"
            android:label="@string/title_activity_edit_note"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".AddNoteActivity"
            android:label="@string/title_activity_add_note"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".NoteDetailsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
    </application>

</manifest>